strategy: ddp
benchmark: true
deterministic: false
pretrained: false
sync_batchnorm: false
clip_grad: null
precision: 16
max_steps: &max_steps 20000
val_check_interval: 1000
limit_val_batches: 100
# --------------------------------------
# Dataset parameters
# --------------------------------------
train_dataset:
  name: 'MMFiPreprocessedDataset'
  params:
    data_root: &data_root 'data/mmfi'
    modality_names: ['rgb', 'depth', 'lidar', 'mmwave']
    split_config: &split_config 'configs/datasets/mmfi_split_config.yml'
    split_to_use: &split_to_use 'random_split'
    protocol: &protocol 'protocol3'
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    test_mode: false
val_dataset:
  name: 'MMFiPreprocessedDataset'
  params:
    data_root: *data_root
    modality_names: ['rgb', 'depth', 'lidar', 'mmwave']
    split_config: *split_config
    split_to_use: *split_to_use
    protocol: *protocol
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    test_mode: true
test_dataset:
  name: 'MMFiPreprocessedDataset'
  params:
    data_root: *data_root
    modality_names: ['rgb', 'depth', 'lidar', 'mmwave']
    split_config: *split_config
    split_to_use: *split_to_use
    protocol: *protocol
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    test_mode: true
# --------------------------------------
# Optimizer parameters
# --------------------------------------
optim_name: AdamW
optim_params:
  lr: &lr 0.001
  weight_decay: 0.00001
# --------------------------------------
# Learning rate scheduler parameters
# --------------------------------------
sched_name: OneCycleLR
sched_params:
  max_lr: *lr
  total_steps: *max_steps
  pct_start: 0.01  # 1% warmup (1000 steps)
  anneal_strategy: 'cos'
  div_factor: 10.0  # start_lr = max_lr / div_factor
  final_div_factor: 10000.0  # min_lr = max_lr / final_div_factor
# --------------------------------------
# Model parameters
# --------------------------------------
model_name: TestModel_1207
backbone_rgb:
  name: 'ResNet18'
  params:
    pretrained: true
  has_temporal: false
backbone_depth:
  name: 'ResNet18'
  params:
    pretrained: true
  has_temporal: false
backbone_lidar:
  name: 'P4TEncoder'
  params:
    radius: 0.7
    nsamples: 32
    spatial_stride: 8
    temporal_kernel_size: 3
    temporal_stride: 1
    emb_relu: false
    dim: 512
    features: 3
    mode: 'xyz'
  has_temporal: true
backbone_mmwave:
  name: 'P4TEncoder'
  params:
    radius: 0.7
    nsamples: 32
    spatial_stride: 8
    temporal_kernel_size: 3
    temporal_stride: 1
    emb_relu: false
    dim: 512
    features: 2
    mode: 'all'
  has_temporal: true
aggregator:
  name: 'TransformerAggregator'
  params:
    input_dims: [512, 512, 512, 512]
    embed_dim: 256
    num_register_tokens: 4
    aa_order: ['single', 'global', 'cross']
    aa_block_size: 1
    depth: 9
    block_type: 'Block'
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: true
    proj_bias: true
    ffn_bias: true
    qk_norm: true
    init_values: 0.01
keypoint_head:
  name: 'RegressionKeypointHead'
  params:
    emb_size: 768
    num_classes: 51
    losses:
      - name: 'MSELoss'
        params: null
        weight: 1.0
# --------------------------------------
# Metrics parameters
# --------------------------------------
metrics:
  - name: 'MPJPE'
    params:
      affix: null
  - name: 'PAMPJPE'
    params:
      affix: null
# --------------------------------------
# Augmentation parameters
# --------------------------------------
train_pipeline: &train_pipeline
  # - name: VideoResize
  #   params:
  #     size: [192, 256]
  #     keys: ['input_rgb', 'input_depth']
  - name: VideoNormalize
    params:
      norm_mode: 'imagenet'
      keys: ['input_rgb']
  - name: VideoNormalize
    params:
      norm_mode: 'zero_one'
      keys: ['input_depth']
  - name: PCPad
    params:
      num_points: 512
      pad_mode: 'repeat'
      keys: ['input_lidar']
  - name: PCPad
    params:
      num_points: 128
      pad_mode: 'repeat'
      keys: ['input_mmwave']
  - name: ToTensor
    params: null
val_pipeline: *train_pipeline
test_pipeline: *train_pipeline

vis_denorm_params:
  rgb_mean: [123.675, 116.28, 103.53]
  rgb_std: [58.395, 57.12, 57.375]
  depth_mean: [0.0, 0.0, 0.0]
  depth_std: [255.0, 255.0, 255.0]
