strategy: ddp
benchmark: true
deterministic: false
pretrained: false
sync_batchnorm: false
clip_grad: null
precision: 16
max_steps: &max_steps 20000
val_check_interval: 1000
limit_val_batches: 100
# --------------------------------------
# Dataset parameters
# --------------------------------------
train_dataset:
  name: 'H36MDataset'
  params:
    data_root: &data_root '/data/shared/H36M-Toolbox'
    unit: 'm'
    modality_names: ['rgb', 'depth']
    cameras: ['04']
    split: "train"
    seq_len: 1       
    seq_step: 1
    pad_seq: true
    causal: true
val_dataset:
  name: 'H36MDataset'
  params:
    data_root: *data_root
    unit: 'm'
    modality_names: ['rgb', 'depth']
    cameras: ['04']
    split: "test"
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
test_dataset:
  name: 'H36MDataset'
  params:
    data_root: *data_root
    unit: 'm'
    modality_names: ['rgb', 'depth']
    cameras: ['04']
    split: "test"
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
# --------------------------------------
# Optimizer parameters
# --------------------------------------
optim_name: AdamW
optim_params:
  lr: &lr 0.0001
  weight_decay: 0.00001
# --------------------------------------
# Learning rate scheduler parameters
# --------------------------------------
sched_name: OneCycleLR
sched_params:
  max_lr: *lr
  total_steps: *max_steps
  pct_start: 0.01  # 1% warmup (1000 steps)
  anneal_strategy: 'cos'
  div_factor: 10.0  # start_lr = max_lr / div_factor
  final_div_factor: 10000.0  # min_lr = max_lr / final_div_factor
# --------------------------------------
# Model parameters
# --------------------------------------
model_name: XFi
backbone_rgb:
  name: 'XFiResNet'
  params:
    block_type: 'Block'
    layer_list: [2, 2, 2, 2]
    # pretrained: '/home/zpengac/mmhpe/X-Fi/MMFi_HPE/backbones/RGB_Resnet18.pt'
  has_temporal: false
backbone_depth:
  name: 'XFiResNet'
  params:
    block_type: 'Block'
    layer_list: [2, 2, 2, 2]
    # pretrained: '/home/zpengac/mmhpe/X-Fi/MMFi_HPE/backbones/depth_Resnet18.pt'
  has_temporal: false
backbone_lidar:
  name: 'XFiPointTransformerEncoderLidar'
  params:
    input_dim: 3
    nblocks: 5
    nneighbor: 16
    transformer_dim: 512
    n_points: 1024
    # pretrained: '/home/zpengac/mmhpe/X-Fi/MMFi_HPE/backbones/lidar_all_random.pt'
  has_temporal: false
backbone_mmwave:
  name: 'XFiPointTransformerEncoderMMWave'
  params:
    input_dim: 5
    nblocks: 5
    nneighbor: 16
    transformer_dim: 128
    n_points: 32
    # pretrained: '/home/zpengac/mmhpe/X-Fi/MMFi_HPE/backbones/mmwave_all_random_TD.pt'
  has_temporal: false
aggregator:
  name: 'XFiAggregator'
  params:
    input_dim: 512
    output_dim: 512
    num_modalities: 4
    dim_expansion: 2
    hidden_dim: 512
    num_heads: 8
    dim_heads: 64
    model_depth: 4
keypoint_head:
  name: 'XFiRegressionHead'
  params:
    emb_size: 512
    num_classes: 51  # 17 joints * 3 coordinates
    losses:
      - name: 'MSELoss'
        params: null
        weight: 1.0
# --------------------------------------
# Metrics parameters
# --------------------------------------
metrics:
  - name: 'MPJPE'
    params:
      affix: null
  - name: 'PAMPJPE'
    params:
      affix: null
# --------------------------------------
# Augmentation parameters
# --------------------------------------
train_pipeline: &train_pipeline
  - name: VideoResize
    params:
      size: [480, 640]
      keep_ratio: false
      keys: ['input_rgb', 'input_depth']
  - name: VideoNormalize
    params:
      norm_mode: 'imagenet'
      keys: ['input_rgb']
  - name: VideoNormalize
    params:
      norm_mode: 'zero_one'
      keys: ['input_depth']
  - name: ToTensor
    params: null
val_pipeline: *train_pipeline
test_pipeline: *train_pipeline


