strategy: ddp
benchmark: true
deterministic: false
pretrained: false
sync_batchnorm: false
clip_grad: null
precision: 32
epochs: &epochs 20
detect_anomaly: true
debug_log_interval: 200

# --------------------------------------
# Dataset parameters
# --------------------------------------
train_dataset:
  name: 'HummanPreprocessedDatasetV2'
  params:
    data_root: &data_root '/opt/data/humman'
    unit: 'm'
    modality_names: ['rgb', 'depth']
    rgb_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    depth_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    split: "train"
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    use_all_pairs: false
    colocated: true
val_dataset:
  name: 'HummanPreprocessedDatasetV2'
  params:
    data_root: *data_root
    unit: 'm'
    modality_names: ['rgb', 'depth']
    rgb_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    depth_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    split: "test"
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    use_all_pairs: false
    colocated: true
test_dataset:
  name: 'HummanPreprocessedDatasetV2'
  params:
    data_root: *data_root
    unit: 'm'
    modality_names: ['rgb', 'depth']
    rgb_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    depth_cameras: ['kinect_000', 'kinect_001', 'kinect_002', 'kinect_003', 'kinect_004', 'kinect_005', 'kinect_006', 'kinect_007', 'kinect_008', 'kinect_009', 'iphone']
    split: "test"
    seq_len: 1
    seq_step: 1
    pad_seq: true
    causal: true
    use_all_pairs: false
    colocated: true
# --------------------------------------
# Optimizer parameters
# --------------------------------------
optim_name: AdamW
optim_params:
  lr: &lr 0.0001
  weight_decay: 0.00001
# --------------------------------------
# Learning rate scheduler parameters
# --------------------------------------
sched_name: LinearWarmupCosineAnnealingLR
sched_params:
  warmup_epochs: 4
  max_epochs: *epochs
  warmup_start_lr: 0.00001
  eta_min: 0.00001
# --------------------------------------
# Model parameters
# --------------------------------------
model_name: HummanLEIR
backbone_rgb:
  name: 'TimmWrapper'
  params:
    model_name: 'vit_small_patch16_dinov3'
    pretrained: true
  has_temporal: false
aggregator:
  name: 'LEIRAggregator'
  params:
    rgb_in_dim: 384
    rgb_proj_dim: 2048
    smpl_model_path: 'weights/smpl/SMPL_NEUTRAL.pkl'
smpl_head:
  name: 'LEIRHead'
  params:
    losses:
      - name: 'LEIRLoss'
        params:
          smpl_model_path: 'weights/smpl/SMPL_NEUTRAL.pkl'
        weight: 1.0
        alias: 'LEIRLoss'
# --------------------------------------
# Metrics parameters
# --------------------------------------
metrics:
  - name: 'MPJPE'
    params:
      use_smpl: true
      root_joint_idx: 0
  - name: 'PAMPJPE'
    params:
      use_smpl: true
      root_joint_idx: 0
  - name: 'MPJPE'
    params:
      use_smpl: false
      affix: no_smpl
    alias: 'MPJPE_no_smpl'
  - name: 'PAMPJPE'
    params:
      use_smpl: false
      affix: no_smpl
    alias: 'PAMPJPE_no_smpl'
# --------------------------------------
# Augmentation parameters
# --------------------------------------
train_pipeline: &train_pipeline
  - name: DepthToLiDARPC
    params:
      keys: ['input_depth']
      keep_depth: true
  - name: VideoResize
    params:
      size: [180, 320]
      keep_ratio: true
      divided_by: 16
      keys: ['input_rgb']
  - name: VideoNormalize
    params:
      norm_mode: 'imagenet'
      keys: ['input_rgb']
  - name: PCPad
    params:
      num_points: 1024
      pad_mode: 'repeat'
      keys: ['input_lidar']
  - name: ToTensor
    params: null
val_pipeline: *train_pipeline
test_pipeline: *train_pipeline
vis_skl_format: 'smpl'
vis_denorm_params:
  rgb_mean: [123.675, 116.28, 103.53]
  rgb_std: [58.395, 57.12, 57.375]
  depth_mean: [0.0]
  depth_std: [1.0]
