strategy: ddp
benchmark: true
deterministic: false
pretrained: false
sync_batchnorm: false
clip_grad: null
precision: 16
max_steps: &max_steps 50000
val_check_interval: 1000
limit_val_batches: 100

# --------------------------------------
# Dataset parameters
# --------------------------------------
train_dataset:
  name: 'H36MMultiViewDataset'
  params:
    data_root: &data_root '/opt/data/h36m_preprocessed'
    unit: 'm'
    cameras: ['01', '02', '03', '04']
    split: "train"
    seq_len: 27
    seq_step: 1
    pad_seq: true
    causal: true
    return_keypoints_sequence: true
    load_rgb: false
val_dataset:
  name: 'H36MMultiViewDataset'
  params:
    data_root: *data_root
    unit: 'm'
    cameras: ['01', '02', '03', '04']
    split: "test"
    seq_len: 27
    seq_step: 1
    pad_seq: true
    causal: true
    return_keypoints_sequence: true
    load_rgb: false
test_dataset:
  name: 'H36MMultiViewDataset'
  params:
    data_root: *data_root
    unit: 'm'
    cameras: ['01', '02', '03', '04']
    split: "test"
    seq_len: 27
    seq_step: 1
    pad_seq: true
    causal: true
    return_keypoints_sequence: true
    load_rgb: false
# --------------------------------------
# Optimizer parameters
# --------------------------------------
optim_name: AdamW
optim_params:
  lr: &lr 0.001
  weight_decay: 0.00001
# --------------------------------------
# Learning rate scheduler parameters
# --------------------------------------
sched_name: OneCycleLR
sched_params:
  max_lr: *lr
  total_steps: *max_steps
  pct_start: 0.01
  anneal_strategy: 'cos'
  div_factor: 10.0
  final_div_factor: 10000.0
# --------------------------------------
# Model parameters
# --------------------------------------
model_name: FusionFormerModalityBaseline
rgb_input_key: input_pose2d_rgb
backbone_rgb:
  name: 'Pose2DBackbone'
  params: {}
  has_temporal: true
aggregator:
  name: 'FusionFormerModalityAggregator'
  params:
    num_joints: 17
    joint_embed_dim: 128
    pose_embed_dim: 256
    depth: 2
    num_heads: 4
    mlp_ratio: 4.0
    num_blocks: 2
    seq_len: 27
    max_modalities: 1
keypoint_head:
  name: 'DirectKeypointHead'
  params:
    losses:
      - name: 'KeypointLoss'
        params:
          loss_type: 'MSE'
          root_joint_idx: 0
        weight: 1.0
        alias: 'KeypointMSELoss'
# --------------------------------------
# Metrics parameters
# --------------------------------------
metrics:
  - name: 'MPJPE'
    params:
      affix: null
      root_joint_idx: 0
  - name: 'PAMPJPE'
    params:
      affix: null
      root_joint_idx: 0
# --------------------------------------
# Augmentation parameters
# --------------------------------------
train_pipeline: &train_pipeline
  - name: AttachGTPose2DH36M
    params:
      input_key: 'gt_keypoints_by_view'
      camera_key: 'rgb_cameras'
      output_key: 'input_pose2d_rgb'
  - name: ToTensor
    params: null
val_pipeline: *train_pipeline
test_pipeline: *train_pipeline
vis_skl_format: 'h36m'
vis_denorm_params:
  rgb_mean: [123.675, 116.28, 103.53]
  rgb_std: [58.395, 57.12, 57.375]
  depth_mean: [0.0]
  depth_std: [255.0]
